div.setter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh;
    background: #eee;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &>button {
        border: none;
        background: none;
    }
}