button.toggleButton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 10vh;
    background-color:transparent;
    border: none;
    display: block;
    text-align: left;
    font-size: 5vh;
    line-height: 5vh;
    overflow: hidden;
    text-indent: -100vw;
}